.pagination {
  button {
    transition: background-color 0.3s ease; // adiciona uma transição suave

    &.selected {
      background-color: #ff6b6b; // cor de fundo do botão selecionado
      color: white; // cor do texto do botão selecionado
    }
  }
}

