<div class="flex flex-column row-gap-3 align-items-center">
  <div *ngIf="loading" class="loading-animation">
    <i class="pi pi-spinner pi-spin" style="font-size: 2rem;"></i>
  </div>
  <div *ngIf="!loading" class="p-input-icon-left w-12 flex align-items-center flex-column">
    <input class="w-8 border-round-2xl p-2 h-2rem mb-3 border-1 border-solid border-200 text-center"
           type="text"
           placeholder="Pesquisar..."
           [(ngModel)]="searchQuery"
           (input)="searchProducts()" />
  </div>

  <p-table [value]="paginatedProducts"
    [paginator]="false"
    [rows]="10"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
    class="w-12">

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name" style="width: 50%; text-align: right;">Name <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="brand" style="width: 50%;">Brand <p-sortIcon field="brand"></p-sortIcon></th>
      </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
      <tr>
        <td class="text-right sm:text-left text-xs sm:text-base">{{ product.name }}</td>
        <td class="text-left text-xs sm:text-base">{{ product.brand }}</td>
      </tr>
    </ng-template>
  </p-table>

  <div class="pagination mt-3 flex column-gap-3 w-12 justify-content-center">
    <button (click)="firstPage()" [disabled]="currentPage === 1"
            class="border-round-2xl py-1 px-2 cursor-pointer border-none w-1">
      <<
    </button>
    <button (click)="previousPage()" [disabled]="currentPage === 1"
            class="border-round-2xl py-1 px-2 cursor-pointer border-none w-1">
      <
    </button>
    <div class="w-8 flex justify-content-between">
      <button *ngFor="let page of getPaginationButtons()"
            (click)="paginateProducts(page)"
            [ngClass]="{'selected': currentPage === page}"
            class="border-round-2xl py-1 px-2 cursor-pointer border-none">
      {{ page }}
      </button>
    </div>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages"
            class="border-round-2xl py-1 px-2 cursor-pointer border-none w-1">
      >
    </button>
    <button (click)="lastPage()" [disabled]="currentPage === totalPages"
            class="border-round-2xl py-1 px-2 cursor-pointer border-none w-1">
      >>
    </button>
  </div>
</div>
